<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SecureHttpBinding">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://apps.knust.edu.gh/feepaymentservice/PaymentService.svc"
                binding="basicHttpBinding" bindingConfiguration="SecureHttpBinding"
                contract="IPaymentService" name="SecureHttpBinding" />
        </client>
    </system.serviceModel>
</configuration>